.app{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.header{
  background-color: rgb(73, 111, 182);
  width: 100%;
  min-height: 12%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(5, 3, 41);
  margin-bottom: 20px;
}

.header p{
  margin-bottom: 15px;
}

.inputWrapper{
  width: 80%;
  height: 40px;
  position: relative;
}
.inputWrapper input{
  width: 100%;
  height: 100%;
  color: black;
  padding: 10px;
  outline: 0;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  background: whitesmoke;
}
.inputWrapper input::placeholder{
  color: rgb(88, 88, 88);
}
.icon{
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
}


.data{
  width: 100%;
  height: 80%;
  display: flex;
  overflow: auto;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
